

PORT=3000


MONGO_URL=mongodb://mongo-user:123456@localhost:27017/
MONGO_DB_NAME=mystore


JWT_SEED=

SEND_EMAIL=false
MAILER_SERVICE=
MAILER_EMAIL=
MAILER_SECRET_KEY=

##https://dislike-reborn-dicing.ngrok-free.dev este es el link que debemos cambiar o el que te de ngrok 
WEBSERVICE_URL=http://localhost:3000/api